In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.svm import SVR
import sklearn.metrics

water_data_m3: pd.DataFrame = pd.read_csv("water_data.csv")
spending_data_quantile_rp: pd.DataFrame = pd.read_csv("spending_data.csv")
population_data: pd.DataFrame = pd.read_csv("population_data.csv")
city_spending_data_rp: pd.DataFrame = pd.read_csv("city_spending_data.csv")
water_spending_rp: pd.DataFrame = pd.read_csv("water_spending.csv")
districts: pd.Series = water_data_m3["District"].to_list()
districts.pop()

display(water_data_m3)
display(population_data)
display(spending_data_quantile_rp)
display(city_spending_data_rp)
display(water_spending_rp)

,District,2017,2018,2019,2020,2021,2022,2023
0,Kedungkandang,6566405,6957957,6364264,7186039,7233227,7472993,7701113
1,Sukun,5864236,6093731,5701541,6088016,6155527,6248290,6546303
2,Klojen,5373575,5469639,4868369,4869511,5162387,5095361,5381262
3,Blimbing,6061895,6308611,6508462,6414178,7147949,6421637,7188327
4,Lowokwaru,7533319,7905237,6872733,7106526,7542021,7899145,8166814
5,Total,31399430,32735175,30315369,31664270,33241111,33137426,34983819

        District    2017    2018    2019    2020    2021    2022    2023
0  Kedungkandang  212459  212459  220055  222742  225337  210211  214157
1          Sukun  209053  209062  214623  216055  216918  202682  204970
2         Klojen  110073  110073  111053  111313  110796  100257  100712
3       Blimbing  198428  198428  202514  203211  203380  189534  190799
4      Lowokwaru  174152  174152  179040  180418  181445  168439  170149
5          Total  904165  904174  927195  933739  937876  871123  880787

  Quantile     2017     2018     2019     2020     2021     2022     2023
0       Q1   507792   601606   558053   546126   566065   698385   648472
1       Q2   790890   906102   878883   851121   905034   995285   950575
2       Q3  1174577  1328382  1318061  1264300  1297978  1349379  1313173
3       Q4  1717888  1870774  1930790  1986977  2035489  1993892  2012753
4       Q5  3914392  3333732  4031312  4178298  4585568  4907348  4851712
5  Average  1619392  1608906  1743569  1766014  1878933  1989831  1954957

,Spending Type,2017,2018,2019,2020,2021,2022,2023
0,Operational,1.473420e+12,1.570000e+12,1.670000e+12,1.690000e+12,1.890000e+12,1.870000e+12,2.190000e+12
1,Assets,3.404940e+11,3.510000e+11,2.390000e+11,3.630000e+11,2.950000e+11,3.110000e+11,4.060000e+11
2,Emergency/Miscellaneous,0.000000e+00,3.408054e+07,1.357371e+09,5.461481e+10,4.555465e+10,6.381986e+09,2.875454e+09
3,Total,1.813920e+12,1.930000e+12,1.910000e+12,2.100000e+12,2.230000e+12,2.190000e+12,2.600000e+12

,District,2017,2018,2019,2020,2021,2022,2023
0,Kedungkandang,34804717300,29254753600,27383762500,30458392400,30845996700,31836763600,41723833400
1,Sukun,31666701400,26482344800,25218673900,26266484900,27125148900,27184392900,36105529800
2,Klojen,35280270500,30587263100,27331348500,26561182200,29455553600,28809525600,36540902000
3,Blimbing,33930849000,28362786600,30878146300,29069956400,34144127000,29165067000,41826587300
4,Lowokwaru,43629441900,38149732000,33386573000,34759242700,36781012200,39114640400,49572070700
5,Total,179311980100,152836880100,144198504200,147115258600,158351838400,156110389500,205768923200

In [2]:
def reshape_to_long(frame: pd.DataFrame, var_name: str, value_name: str) -> pd.DataFrame:
	df = frame.copy(deep=True)
	df.set_index(var_name, inplace=True)
	if "Total" in df.index:
		df.drop("Total", inplace=True)
	if "Average" in df.index:
		df.drop("Average", inplace=True)
	df = df.T
	df.index = df.index.astype(int)
	df.index.name = "Year"
	return df.reset_index().melt(id_vars="Year", var_name=var_name, value_name=value_name)

water_data_m3_long = reshape_to_long(water_data_m3, "District", "Water Used (m3)")
population_data_long = reshape_to_long(population_data, "District", "Population")
city_spending_data_rp_long = reshape_to_long(city_spending_data_rp, "Spending Type", "City Spending (Rp)")
water_spending_rp_long = reshape_to_long(water_spending_rp, "District", "Water Spending (Rp)")
spending_data_quantile_rp_long = reshape_to_long(spending_data_quantile_rp, "Quantile", "Citizen Spending (Rp)")

display(water_data_m3_long)
display(city_spending_data_rp_long)
display(water_spending_rp_long)
display(population_data_long)
display(spending_data_quantile_rp_long)

    Year       District  Water Used (m3)
0   2017  Kedungkandang          6566405
1   2018  Kedungkandang          6957957
2   2019  Kedungkandang          6364264
3   2020  Kedungkandang          7186039
4   2021  Kedungkandang          7233227
5   2022  Kedungkandang          7472993
6   2023  Kedungkandang          7701113
7   2017          Sukun          5864236
8   2018          Sukun          6093731
9   2019          Sukun          5701541
10  2020          Sukun          6088016
11  2021          Sukun          6155527
12  2022          Sukun          6248290
13  2023          Sukun          6546303
14  2017         Klojen          5373575
15  2018         Klojen          5469639
16  2019         Klojen          4868369
17  2020         Klojen          4869511
18  2021         Klojen          5162387
19  2022         Klojen          5095361
20  2023         Klojen          5381262
21  2017       Blimbing          6061895
22  2018       Blimbing          6308611
23  2019       Blimbing          6508462
24  2020       Blimbing          6414178
25  2021       Blimbing          7147949
26  2022       Blimbing          6421637
27  2023       Blimbing          7188327
28  2017      Lowokwaru          7533319
29  2018      Lowokwaru          7905237
30  2019      Lowokwaru          6872733
31  2020      Lowokwaru          7106526
32  2021      Lowokwaru          7542021
33  2022      Lowokwaru          7899145
34  2023      Lowokwaru          8166814

    Year            Spending Type  City Spending (Rp)
0   2017              Operational        1.473420e+12
1   2018              Operational        1.570000e+12
2   2019              Operational        1.670000e+12
3   2020              Operational        1.690000e+12
4   2021              Operational        1.890000e+12
5   2022              Operational        1.870000e+12
6   2023              Operational        2.190000e+12
7   2017                   Assets        3.404940e+11
8   2018                   Assets        3.510000e+11
9   2019                   Assets        2.390000e+11
10  2020                   Assets        3.630000e+11
11  2021                   Assets        2.950000e+11
12  2022                   Assets        3.110000e+11
13  2023                   Assets        4.060000e+11
14  2017  Emergency/Miscellaneous        0.000000e+00
15  2018  Emergency/Miscellaneous        3.408054e+07
16  2019  Emergency/Miscellaneous        1.357371e+09
17  2020  Emergency/Miscellaneous        5.461481e+10
18  2021  Emergency/Miscellaneous        4.555465e+10
19  2022  Emergency/Miscellaneous        6.381986e+09
20  2023  Emergency/Miscellaneous        2.875454e+09

    Year       District  Water Spending (Rp)
0   2017  Kedungkandang          34804717300
1   2018  Kedungkandang          29254753600
2   2019  Kedungkandang          27383762500
3   2020  Kedungkandang          30458392400
4   2021  Kedungkandang          30845996700
5   2022  Kedungkandang          31836763600
6   2023  Kedungkandang          41723833400
7   2017          Sukun          31666701400
8   2018          Sukun          26482344800
9   2019          Sukun          25218673900
10  2020          Sukun          26266484900
11  2021          Sukun          27125148900
12  2022          Sukun          27184392900
13  2023          Sukun          36105529800
14  2017         Klojen          35280270500
15  2018         Klojen          30587263100
16  2019         Klojen          27331348500
17  2020         Klojen          26561182200
18  2021         Klojen          29455553600
19  2022         Klojen          28809525600
20  2023         Klojen          36540902000
21  2017       Blimbing          33930849000
22  2018       Blimbing          28362786600
23  2019       Blimbing          30878146300
24  2020       Blimbing          29069956400
25  2021       Blimbing          34144127000
26  2022       Blimbing          29165067000
27  2023       Blimbing          41826587300
28  2017      Lowokwaru          43629441900
29  2018      Lowokwaru          38149732000
30  2019      Lowokwaru          33386573000
31  2020      Lowokwaru          34759242700
32  2021      Lowokwaru          36781012200
33  2022      Lowokwaru          39114640400
34  2023      Lowokwaru          49572070700

    Year       District  Population
0   2017  Kedungkandang      212459
1   2018  Kedungkandang      212459
2   2019  Kedungkandang      220055
3   2020  Kedungkandang      222742
4   2021  Kedungkandang      225337
5   2022  Kedungkandang      210211
6   2023  Kedungkandang      214157
7   2017          Sukun      209053
8   2018          Sukun      209062
9   2019          Sukun      214623
10  2020          Sukun      216055
11  2021          Sukun      216918
12  2022          Sukun      202682
13  2023          Sukun      204970
14  2017         Klojen      110073
15  2018         Klojen      110073
16  2019         Klojen      111053
17  2020         Klojen      111313
18  2021         Klojen      110796
19  2022         Klojen      100257
20  2023         Klojen      100712
21  2017       Blimbing      198428
22  2018       Blimbing      198428
23  2019       Blimbing      202514
24  2020       Blimbing      203211
25  2021       Blimbing      203380
26  2022       Blimbing      189534
27  2023       Blimbing      190799
28  2017      Lowokwaru      174152
29  2018      Lowokwaru      174152
30  2019      Lowokwaru      179040
31  2020      Lowokwaru      180418
32  2021      Lowokwaru      181445
33  2022      Lowokwaru      168439
34  2023      Lowokwaru      170149

    Year Quantile  Citizen Spending (Rp)
0   2017       Q1                 507792
1   2018       Q1                 601606
2   2019       Q1                 558053
3   2020       Q1                 546126
4   2021       Q1                 566065
5   2022       Q1                 698385
6   2023       Q1                 648472
7   2017       Q2                 790890
8   2018       Q2                 906102
9   2019       Q2                 878883
10  2020       Q2                 851121
11  2021       Q2                 905034
12  2022       Q2                 995285
13  2023       Q2                 950575
14  2017       Q3                1174577
15  2018       Q3                1328382
16  2019       Q3                1318061
17  2020       Q3                1264300
18  2021       Q3                1297978
19  2022       Q3                1349379
20  2023       Q3                1313173
21  2017       Q4                1717888
22  2018       Q4                1870774
23  2019       Q4                1930790
24  2020       Q4                1986977
25  2021       Q4                2035489
26  2022       Q4                1993892
27  2023       Q4                2012753
28  2017       Q5                3914392
29  2018       Q5                3333732
30  2019       Q5                4031312
31  2020       Q5                4178298
32  2021       Q5                4585568
33  2022       Q5                4907348
34  2023       Q5                4851712

In [3]:
city_spending_rp_long_pivot = city_spending_data_rp_long.pivot(index="Year", columns="Spending Type", values="City Spending (Rp)").reset_index()
city_spending_rp_long_pivot.columns = ["Year", "Assets (Rp)", "Emergency/Miscellaneous (Rp)", "Operational (Rp)"]
spending_data_quantile_rp_long_pivot = spending_data_quantile_rp_long.pivot(index="Year", columns="Quantile", values="Citizen Spending (Rp)").reset_index()
spending_data_quantile_rp_long_pivot.columns = ["Year", "Q1 (Rp)", "Q2 (Rp)", "Q3 (Rp)", "Q4 (Rp)", "Q5 (Rp)"]

total_population_yearly = population_data_long.groupby("Year")["Population"].sum().reset_index().rename(columns={"Population":"Total Population"})

df = pd.merge(water_spending_rp_long, population_data_long, on=["Year", "District"])
df = pd.merge(df, water_data_m3_long, on=["Year", "District"])
df = pd.merge(df, city_spending_rp_long_pivot, on="Year", how="left")
df = pd.merge(df, spending_data_quantile_rp_long_pivot, on="Year", how="left")
df = pd.merge(df, total_population_yearly, on="Year", how="left")
df["Water Price / Capita (Rp/m3)"] = (df["Water Spending (Rp)"] / df["Water Used (m3)"])
df["Water Usage / Capita (m3/person)"] = (df["Water Used (m3)"] / df["Population"])
df["Water Spending / Capita (Rp/person)"] = (df["Water Spending (Rp)"] / df["Population"])
df.sort_values(by=["District", "Year"], inplace=True)

from pandas.core.groupby import DataFrameGroupBy

dg: DataFrameGroupBy = df.groupby("District")
parameters: list[str] = ["Water Spending (Rp)", "Water Used (m3)", "Assets (Rp)", "Emergency/Miscellaneous (Rp)", "Operational (Rp)", "Population", "Water Price / Capita (Rp/m3)", "Water Usage / Capita (m3/person)", "Water Spending / Capita (Rp/person)", "Q1 (Rp)", "Q2 (Rp)", "Q3 (Rp)", "Q4 (Rp)", "Q5 (Rp)"]
for parameter in parameters:
	df["Previous " + parameter] = dg[parameter].shift(1)

targets = parameters.copy()
parameters = parameters + ["Previous " + parameter for parameter in parameters]

# Convert invalid values to NaN to detect errors
num_cols: list[str] = [col for col in df.columns if col not in ["Year", "District"]]
for col in num_cols:
    df[col] = pd.to_numeric(df[col], errors="coerce")

df_model: pd.DataFrame = df.copy().dropna()

del df
del parameter
del col
del dg
del city_spending_rp_long_pivot
del spending_data_quantile_rp_long_pivot
del total_population_yearly

with pd.option_context("display.max_rows", None, "display.max_columns", None):
	display(df_model)

df_model.to_clipboard(sep=",")
df_model.info()

,Year,District,Water Spending (Rp),Population,Water Used (m3),Assets (Rp),Emergency/Miscellaneous (Rp),Operational (Rp),Q1 (Rp),Q2 (Rp),Q3 (Rp),Q4 (Rp),Q5 (Rp),Total Population,Water Price / Capita (Rp/m3),Water Usage / Capita (m3/person),Water Spending / Capita (Rp/person),Previous Water Spending (Rp),Previous Water Used (m3),Previous Assets (Rp),Previous Emergency/Miscellaneous (Rp),Previous Operational (Rp),Previous Population,Previous Water Price / Capita (Rp/m3),Previous Water Usage / Capita (m3/person),Previous Water Spending / Capita (Rp/person),Previous Q1 (Rp),Previous Q2 (Rp),Previous Q3 (Rp),Previous Q4 (Rp),Previous Q5 (Rp)
22,2018,Blimbing,28362786600,198428,6308611,3.510000e+11,3.408054e+07,1.570000e+12,601606,906102,1328382,1870774,3333732,904174,4495.884530,31.792948,142937.421130,3.393085e+10,6061895.0,3.404940e+11,0.000000e+00,1.473420e+12,198428.0,5597.399658,30.549595,170998.291572,507792.0,790890.0,1174577.0,1717888.0,3914392.0
23,2019,Blimbing,30878146300,202514,6508462,2.390000e+11,1.357371e+09,1.670000e+12,558053,878883,1318061,1930790,4031312,927285,4744.307687,32.138331,152474.131665,2.836279e+10,6308611.0,3.510000e+11,3.408054e+07,1.570000e+12,198428.0,4495.884530,31.792948,142937.421130,601606.0,906102.0,1328382.0,1870774.0,3333732.0
24,2020,Blimbing,29069956400,203211,6414178,3.630000e+11,5.461481e+10,1.690000e+12,546126,851121,1264300,1986977,4178298,933739,4532.140580,31.564128,143053.065041,3.087815e+10,6508462.0,2.390000e+11,1.357371e+09,1.670000e+12,202514.0,4744.307687,32.138331,152474.131665,558053.0,878883.0,1318061.0,1930790.0,4031312.0
25,2021,Blimbing,34144127000,203380,7147949,2.950000e+11,4.555465e+10,1.890000e+12,566065,905034,1297978,2035489,4585568,937876,4776.772610,35.145781,167883.405448,2.906996e+10,6414178.0,3.630000e+11,5.461481e+10,1.690000e+12,203211.0,4532.140580,31.564128,143053.065041,546126.0,851121.0,1264300.0,1986977.0,4178298.0
26,2022,Blimbing,29165067000,189534,6421637,3.110000e+11,6.381986e+09,1.870000e+12,698385,995285,1349379,1993892,4907348,871123,4541.687268,33.881188,153877.758080,3.414413e+10,7147949.0,2.950000e+11,4.555465e+10,1.890000e+12,203380.0,4776.772610,35.145781,167883.405448,566065.0,905034.0,1297978.0,2035489.0,4585568.0
27,2023,Blimbing,41826587300,190799,7188327,4.060000e+11,2.875454e+09,2.190000e+12,648472,950575,1313173,2012753,4851712,880787,5818.681774,37.674867,219218.063512,2.916507e+10,6421637.0,3.110000e+11,6.381986e+09,1.870000e+12,189534.0,4541.687268,33.881188,153877.758080,698385.0,995285.0,1349379.0,1993892.0,4907348.0
1,2018,Kedungkandang,29254753600,212459,6957957,3.510000e+11,3.408054e+07,1.570000e+12,601606,906102,1328382,1870774,3333732,904174,4204.503362,32.749646,137695.995933,3.480472e+10,6566405.0,3.404940e+11,0.000000e+00,1.473420e+12,212459.0,5300.421966,30.906693,163818.512278,507792.0,790890.0,1174577.0,1717888.0,3914392.0
2,2019,Kedungkandang,27383762500,220055,6364264,2.390000e+11,1.357371e+09,1.670000e+12,558053,878883,1318061,1930790,4031312,927285,4302.738306,28.921242,124440.537593,2.925475e+10,6957957.0,3.510000e+11,3.408054e+07,1.570000e+12,212459.0,4204.503362,32.749646,137695.995933,601606.0,906102.0,1328382.0,1870774.0,3333732.0
3,2020,Kedungkandang,30458392400,222742,7186039,3.630000e+11,5.461481e+10,1.690000e+12,546126,851121,1264300,1986977,4178298,933739,4238.550946,32.261715,136742.924101,2.738376e+10,6364264.0,2.390000e+11,1.357371e+09,1.670000e+12,220055.0,4302.738306,28.921242,124440.537593,558053.0,878883.0,1318061.0,1930790.0,4031312.0
4,2021,Kedungkandang,30845996700,225337,7233227,2.950000e+11,4.555465e+10,1.890000e+12,566065,905034,1297978,2035489,4585568,937876,4264.486197,32.099597,136888.290427,3.045839e+10,7186039.0,3.630000e+11,5.461481e+10,1.690000e+12,222742.0,4238.550946,32.261715,136742.924101,546126.0,851121.0,1264300.0,1986977.0,4178298.0
5,2022,Kedungkandang,31836763600,210211,7472993,3.110000e+11,6.381986e+09,1.870000e+12,698385,995285,1349379,1993892,4907348,871123,4260.242663,35.549962,151451.463530,3.084600e+10,7233227.0,2.950000e+11,4.555465e+10,1.890000e+12,225337.0,4264.486197,32.099597,136888.290427,566065.0,905034.0,1297978.0,2035489.0,4585568.0
6,2023,Kedungkandang,41723833400,214157,7701113,4.060000e+11,2.875454e+09,2.190000e+12,648472,950575,1313173,2012753,4851712,880787,5417.896530,35.960127,194828.249368,3.183676e+10,7472993.0,3.110000e+11,6.381986e+09,1.870000e+12,210211.0,4260.242663,35.549962,151451.463530,698385.0,995285.0,1349379.0,1993892.0,4907348.0
15,2018,Klojen,30587263100,110073,5469639,3.510000e+11,3.408054e+07,1.570000e+12,601606,906102,1328382,1870774,3333732,904174,5592.190472,49.691014,277881.615837,3.528027e+10,5373575.0,3.404940e+11,0.000000e+00,1.473420e+12,110073.0,6565.511880,48.818284,320517.025065,507792.0,790890.0,1174577.0,1717888.0,3914392.0
16,2019,Klojen,27331348500,111053,4868369,2.390000e+11,1.357371e+09,1.670000e+12,558053,878883,1318061,1930790,4031312,927285,5614.066744,43.838248,246110.852476,3.058726e+10,5469639.0,3.510000e+11,3.408054e+07,1.570000e+12,110073.0,5592.190472,49.691014,277881.615837,601606.0,906102.0,1328382.0,1870774.0,3333732.0
17,2020,Klojen,26561182200,111313,4869511,3.630000e+11,5.461481e+10,1.690000e+12,546126,851121,1264300,1986977,4178298,933739,5454.589219,43.746112,238617.072579,2.733135e+10,4868369.0,2.390000e+11,1.357371e+09,1.670000e+12,111053.0,5614.066744,43.838248,246110.852476,558053.0,878883.0,1318061.0,1930790.0,4031312.0
18,2021,Klojen,29455553600,110796,5162387,2.950000e+11,4.555465e+10,1.890000e+12,566065,905034,1297978,2035489,4585568,937876,5705.801134,46.593623,265853.944186,2.656118e+10,4869511.0,3.630000e+11,5.461481e+10,1.690000e+12,111313.0,5454.589219,43.746112,238617.072579,546126.0,851121.0,1264300.0,1986977.0,4178298.0
19,2022,Klojen,28809525600,100257,5095361,3.110000e+11,6.381986e+09,1.870000e+12,698385,995285,1349379,1993892,4907348,871123,5654.069574,50.822995,287356.749155,2.945555e+10,5162387.0,2.950000e+11,4.555465e+10,1.890000e+12,110796.0,5705.801134,46.593623,265853.944186,566065.0,905034.0,1297978.0,2035489.0,4585568.0
20,2023,Klojen,36540902000,100712,5381262,4.060000e+11,2.875454e+09,2.190000e+12,648472,950575,1313173,2012753,4851712,880787,6790.396379,53.432183,362825.701009,2.880953e+10,5095361.0,3.110000e+11,6.381986e+09,1.870000e+12,100257.0,5654.069574,50.822995,287356.749155,698385.0,995285.0,1349379.0,1993892.0,4907348.0
29,2018,Lowokwaru,38149732000,174152,7905237,3.510000e+11,3.408054e+07,1.570000e+12,601606,906102,1328382,1870774,3333732,904174,4825.880869,45.392743,219059.970600,4.362944e+10,7533319.0,3.404940e+11,0.000000e+00,1.473420e+12,174152.0,5791.529856,43.257149,250525.069480,507792.0,790890.0,1174577.0,1717888.0,3914392.0
30,2019,Lowokwaru,33386573000,179040,6872733,2.390000e+11,1.357371e+09,1.670000e+12,558053,878883,1318061,1930790,4031312,927285,4857.830648,38.386578,186475.497096,3.814973e+10,7905237.0,3.510000e+11,3.408054e+07,1.570000e+12,174152.0,4825.880869,45.392743,219059.970600,601606.0,906102.0,1328382.0,1870774.0,3333732.0
31,2020,Lowokwaru,34759242700,180418,7106526,3.630000e+11,5.461481e+10,1.690000e+12,546126,851121,1264300,1986977,4178298,933739,4891.172241,39.389229,192659.505703,3.338657e+10,6872733.0,2.390000e+11,1.357371e+09,1.670000e+12,179040.0,4857.830648,38.386578,186475.497096,558053.0,878883.0,1318061.0,1930790.0,4031312.0
32,2021,Lowokwaru,36781012200,181445,7542021,2.950000e+11,4.555465e+10,1.890000e+12,566065,905034,1297978,2035489,4585568,937876,4876.811162,41.566431,202711.632726,3.475924e+10,7106526.0,3.630000e+11,5.461481e+10,1.690000e+12,180418.0,4891.172241,39.389229,192659.505703,546126.0,851121.0,1264300.0,1986977.0,4178298.0
33,2022,Lowokwaru,39114640400,168439,7899145,3.110000e+11,6.381986e+09,1.870000e+12,698385,995285,1349379,1993892,4907348,871123,4951.756222,46.896176,232218.431598,3.678101e+10,7542021.0,2.950000e+11,4.555465e+10,1.890000e+12,181445.0,4876.811162,41.566431,202711.632726,566065.0,905034.0,1297978.0,2035489.0,4585568.0
34,2023,Lowokwaru,49572070700,170149,8166814,4.060000e+11,2.875454e+09,2.190000e+12,648472,950575,1313173,2012753,4851712,880787,6069.939967,47.998014,291345.060506,3.911464e+10,7899145.0,3.110000e+11,6.381986e+09,1.870000e+12,168439.0,4951.756222,46.896176,232218.431598,698385.0,995285.0,1349379.0,1993892.0,4907348.0
8,2018,Sukun,26482344800,209062,6093731,3.510000e+11,3.408054e+07,1.570000e+12,601606,906102,1328382,1870774,3333732,904174,4345.834235,29.147961,126672.206331,3.166670e+10,5864236.0,3.404940e+11,0.000000e+00,1.473420e+12,209053.0,5399.970499,28.051432,151476.904900,507792.0,790890.0,1174577.0,1717888.0,3914392.0
9,2019,Sukun,25218673900,214623,5701541,2.390000e+11,1.357371e+09,1.670000e+12,558053,878883,1318061,1930790,4031312,927285,4423.132957,26.565377,117502.196410,2.648234e+10,6093731.0,3.510000e+11,3.408054e+07,1.570000e+12,209062.0,4345.834235,29.147961,126672.206331,601606.0,906102.0,1328382.0,1870774.0,3333732.0
10,2020,Sukun,26266484900,216055,6088016,3.630000e+11,5.461481e+10,1.690000e+12,546126,851121,1264300,1986977,4178298,933739,4314.457271,28.178084,121573.140635,2.521867e+10,5701541.0,2.390000e+11,1.357371e+09,1.670000e+12,214623.0,4423.132957,26.565377,117502.196410,558053.0,878883.0,1318061.0,1930790.0,4031312.0
11,2021,Sukun,27125148900,216918,6155527,2.950000e+11,4.555465e+10,1.890000e+12,566065,905034,1297978,2035489,4585568,937876,4406.633080,28.377207,125047.939313,2.626648e+10,6088016.0,3.630000e+11,5.461481e+10,1.690000e+12,216055.0,4314.457271,28.178084,121573.140635,546126.0,851121.0,1264300.0,1986977.0,4178298.0
12,2022,Sukun,27184392900,202682,6248290,3.110000e+11,6.381986e+09,1.870000e+12,698385,995285,1349379,1993892,4907348,871123,4350.693214,30.828046,134123.370107,2.712515e+10,6155527.0,2.950000e+11,4.555465e+10,1.890000e+12,216918.0,4406.633080,28.377207,125047.939313,566065.0,905034.0,1297978.0,2035489.0,4585568.0
13,2023,Sukun,36105529800,204970,6546303,4.060000e+11,2.875454e+09,2.190000e+12,648472,950575,1313173,2012753,4851712,880787,5515.407674,31.937859,176150.313704,2.718439e+10,6248290.0,3.110000e+11,6.381986e+09,1.870000e+12,202682.0,4350.693214,30.828046,134123.370107,698385.0,995285.0,1349379.0,1993892.0,4907348.0

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, 22 to 13
Data columns (total 31 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Year                                          30 non-null     int64
 1   District                                      30 non-null     object
 2   Water Spending (Rp)                           30 non-null     int64
 3   Population                                    30 non-null     int64
 4   Water Used (m3)                               30 non-null     int64
 5   Assets (Rp)                                   30 non-null     float64
 6   Emergency/Miscellaneous (Rp)                  30 non-null     float64
 7   Operational (Rp)                              30 non-null     float64
 8   Q1 (Rp)                                       30 non-null     int64
 9   Q2 (Rp)                                       30 non-null     int64
 10  Q3 (Rp)                                       30 non-null     int64
 11  Q4 (Rp)                                       30 non-null     int64
 12  Q5 (Rp)                                       30 non-null     int64
 13  Total Population                              30 non-null     int64
 14  Water Price / Capita (Rp/m3)                  30 non-null     float64
 15  Water Usage / Capita (m3/person)              30 non-null     float64
 16  Water Spending / Capita (Rp/person)           30 non-null     float64
 17  Previous Water Spending (Rp)                  30 non-null     float64
 18  Previous Water Used (m3)                      30 non-null     float64
 19  Previous Assets (Rp)                          30 non-null     float64
 20  Previous Emergency/Miscellaneous (Rp)         30 non-null     float64
 21  Previous Operational (Rp)                     30 non-null     float64
 22  Previous Population                           30 non-null     float64
 23  Previous Water Price / Capita (Rp/m3)         30 non-null     float64
 24  Previous Water Usage / Capita (m3/person)     30 non-null     float64
 25  Previous Water Spending / Capita (Rp/person)  30 non-null     float64
 26  Previous Q1 (Rp)                              30 non-null     float64
 27  Previous Q2 (Rp)                              30 non-null     float64
 28  Previous Q3 (Rp)                              30 non-null     float64
 29  Previous Q4 (Rp)                              30 non-null     float64
 30  Previous Q5 (Rp)                              30 non-null     float64
dtypes: float64(20), int64(10), object(1)
memory usage: 7.5+ KB

In [4]:
spear_corr = df_model[df_model.columns.difference(["Year", "District", "Water Used (m3)"])].corrwith(df_model["Water Used (m3)"], method="spearman")
display(pd.DataFrame(spear_corr, columns=["Correlation Value"]))
kend_corr = df_model[df_model.columns.difference(["Year", "District", "Water Used (m3)"])].corrwith(df_model["Water Used (m3)"], method="kendall")
display(pd.DataFrame(kend_corr, columns=["Correlation Value"]))
pear_corr = df_model[df_model.columns.difference(["Year", "District", "Water Used (m3)"])].corrwith(df_model["Water Used (m3)"], method="pearson")
display(pd.DataFrame(pear_corr, columns=["Correlation Value"]))

                                              Correlation Value
Assets (Rp)                                            0.192802
Emergency/Miscellaneous (Rp)                           0.028187
Operational (Rp)                                       0.271727
Population                                             0.264961
Previous Assets (Rp)                                  -0.014657
Previous Emergency/Miscellaneous (Rp)                  0.188292
Previous Operational (Rp)                              0.219862
Previous Population                                    0.296239
Previous Q1 (Rp)                                       0.068777
Previous Q2 (Rp)                                       0.068777
Previous Q3 (Rp)                                       0.032697
Previous Q4 (Rp)                                       0.219862
Previous Q5 (Rp)                                       0.310062
Previous Water Price / Capita (Rp/m3)                 -0.334816
Previous Water Spending (Rp)                           0.518131
Previous Water Spending / Capita (Rp/person)          -0.174194
Previous Water Usage / Capita (m3/person)             -0.046941
Previous Water Used (m3)                               0.887875
Q1 (Rp)                                                0.237902
Q2 (Rp)                                                0.237902
Q3 (Rp)                                                0.003382
Q4 (Rp)                                                0.233392
Q5 (Rp)                                                0.219862
Total Population                                      -0.127407
Water Price / Capita (Rp/m3)                          -0.140823
Water Spending (Rp)                                    0.749499
Water Spending / Capita (Rp/person)                    0.001112
Water Usage / Capita (m3/person)                       0.077642

                                              Correlation Value
Assets (Rp)                                            0.146080
Emergency/Miscellaneous (Rp)                           0.002476
Operational (Rp)                                       0.215407
Population                                             0.140230
Previous Assets (Rp)                                   0.002476
Previous Emergency/Miscellaneous (Rp)                  0.146080
Previous Operational (Rp)                              0.185695
Previous Population                                    0.163974
Previous Q1 (Rp)                                       0.051995
Previous Q2 (Rp)                                       0.051995
Previous Q3 (Rp)                                       0.017332
Previous Q4 (Rp)                                       0.185695
Previous Q5 (Rp)                                       0.245118
Previous Water Price / Capita (Rp/m3)                 -0.209195
Previous Water Spending (Rp)                           0.370115
Previous Water Spending / Capita (Rp/person)          -0.052874
Previous Water Usage / Capita (m3/person)              0.071264
Previous Water Used (m3)                               0.737931
Q1 (Rp)                                                0.165888
Q2 (Rp)                                                0.165888
Q3 (Rp)                                                0.002476
Q4 (Rp)                                                0.180743
Q5 (Rp)                                                0.185695
Total Population                                      -0.066850
Water Price / Capita (Rp/m3)                          -0.039080
Water Spending (Rp)                                    0.600000
Water Spending / Capita (Rp/person)                    0.131034
Water Usage / Capita (m3/person)                       0.195402

                                              Correlation Value
Assets (Rp)                                            0.223468
Emergency/Miscellaneous (Rp)                          -0.037733
Operational (Rp)                                       0.248332
Population                                             0.572576
Previous Assets (Rp)                                   0.001781
Previous Emergency/Miscellaneous (Rp)                  0.102302
Previous Operational (Rp)                              0.193554
Previous Population                                    0.584257
Previous Q1 (Rp)                                       0.129832
Previous Q2 (Rp)                                       0.114333
Previous Q3 (Rp)                                       0.000248
Previous Q4 (Rp)                                       0.122048
Previous Q5 (Rp)                                       0.289758
Previous Water Price / Capita (Rp/m3)                 -0.441027
Previous Water Spending (Rp)                           0.543987
Previous Water Spending / Capita (Rp/person)          -0.357384
Previous Water Usage / Capita (m3/person)             -0.224293
Previous Water Used (m3)                               0.891123
Q1 (Rp)                                                0.194093
Q2 (Rp)                                                0.202530
Q3 (Rp)                                                0.064496
Q4 (Rp)                                                0.141682
Q5 (Rp)                                                0.160912
Total Population                                      -0.188314
Water Price / Capita (Rp/m3)                          -0.248313
Water Spending (Rp)                                    0.688523
Water Spending / Capita (Rp/person)                   -0.211745
Water Usage / Capita (m3/person)                      -0.122062

In [5]:
districts_map = {}
for i, d in enumerate(districts):
	districts_map[i] = d
	districts_map[d] = i

scoring: dict[str, str] = {
    "neg_mse": "neg_mean_squared_error", # Lower is better, negative for maximization
    "neg_rmse": "neg_root_mean_squared_error",
	"neg_mae": "neg_mean_absolute_error",
	"neg_mape": "neg_mean_absolute_percentage_error"
}

display(df_model)

,Year,District,Water Spending (Rp),Population,Water Used (m3),Assets (Rp),Emergency/Miscellaneous (Rp),Operational (Rp),Q1 (Rp),Q2 (Rp),...,Previous Operational (Rp),Previous Population,Previous Water Price / Capita (Rp/m3),Previous Water Usage / Capita (m3/person),Previous Water Spending / Capita (Rp/person),Previous Q1 (Rp),Previous Q2 (Rp),Previous Q3 (Rp),Previous Q4 (Rp),Previous Q5 (Rp)
22,2018,Blimbing,28362786600,198428,6308611,3.510000e+11,3.408054e+07,1.570000e+12,601606,906102,...,1.473420e+12,198428.0,5597.399658,30.549595,170998.291572,507792.0,790890.0,1174577.0,1717888.0,3914392.0
23,2019,Blimbing,30878146300,202514,6508462,2.390000e+11,1.357371e+09,1.670000e+12,558053,878883,...,1.570000e+12,198428.0,4495.884530,31.792948,142937.421130,601606.0,906102.0,1328382.0,1870774.0,3333732.0
24,2020,Blimbing,29069956400,203211,6414178,3.630000e+11,5.461481e+10,1.690000e+12,546126,851121,...,1.670000e+12,202514.0,4744.307687,32.138331,152474.131665,558053.0,878883.0,1318061.0,1930790.0,4031312.0
25,2021,Blimbing,34144127000,203380,7147949,2.950000e+11,4.555465e+10,1.890000e+12,566065,905034,...,1.690000e+12,203211.0,4532.140580,31.564128,143053.065041,546126.0,851121.0,1264300.0,1986977.0,4178298.0
26,2022,Blimbing,29165067000,189534,6421637,3.110000e+11,6.381986e+09,1.870000e+12,698385,995285,...,1.890000e+12,203380.0,4776.772610,35.145781,167883.405448,566065.0,905034.0,1297978.0,2035489.0,4585568.0
27,2023,Blimbing,41826587300,190799,7188327,4.060000e+11,2.875454e+09,2.190000e+12,648472,950575,...,1.870000e+12,189534.0,4541.687268,33.881188,153877.758080,698385.0,995285.0,1349379.0,1993892.0,4907348.0
1,2018,Kedungkandang,29254753600,212459,6957957,3.510000e+11,3.408054e+07,1.570000e+12,601606,906102,...,1.473420e+12,212459.0,5300.421966,30.906693,163818.512278,507792.0,790890.0,1174577.0,1717888.0,3914392.0
2,2019,Kedungkandang,27383762500,220055,6364264,2.390000e+11,1.357371e+09,1.670000e+12,558053,878883,...,1.570000e+12,212459.0,4204.503362,32.749646,137695.995933,601606.0,906102.0,1328382.0,1870774.0,3333732.0
3,2020,Kedungkandang,30458392400,222742,7186039,3.630000e+11,5.461481e+10,1.690000e+12,546126,851121,...,1.670000e+12,220055.0,4302.738306,28.921242,124440.537593,558053.0,878883.0,1318061.0,1930790.0,4031312.0
4,2021,Kedungkandang,30845996700,225337,7233227,2.950000e+11,4.555465e+10,1.890000e+12,566065,905034,...,1.690000e+12,222742.0,4238.550946,32.261715,136742.924101,546126.0,851121.0,1264300.0,1986977.0,4178298.0
5,2022,Kedungkandang,31836763600,210211,7472993,3.110000e+11,6.381986e+09,1.870000e+12,698385,995285,...,1.890000e+12,225337.0,4264.486197,32.099597,136888.290427,566065.0,905034.0,1297978.0,2035489.0,4585568.0
6,2023,Kedungkandang,41723833400,214157,7701113,4.060000e+11,2.875454e+09,2.190000e+12,648472,950575,...,1.870000e+12,210211.0,4260.242663,35.549962,151451.463530,698385.0,995285.0,1349379.0,1993892.0,4907348.0
15,2018,Klojen,30587263100,110073,5469639,3.510000e+11,3.408054e+07,1.570000e+12,601606,906102,...,1.473420e+12,110073.0,6565.511880,48.818284,320517.025065,507792.0,790890.0,1174577.0,1717888.0,3914392.0
16,2019,Klojen,27331348500,111053,4868369,2.390000e+11,1.357371e+09,1.670000e+12,558053,878883,...,1.570000e+12,110073.0,5592.190472,49.691014,277881.615837,601606.0,906102.0,1328382.0,1870774.0,3333732.0
17,2020,Klojen,26561182200,111313,4869511,3.630000e+11,5.461481e+10,1.690000e+12,546126,851121,...,1.670000e+12,111053.0,5614.066744,43.838248,246110.852476,558053.0,878883.0,1318061.0,1930790.0,4031312.0
18,2021,Klojen,29455553600,110796,5162387,2.950000e+11,4.555465e+10,1.890000e+12,566065,905034,...,1.690000e+12,111313.0,5454.589219,43.746112,238617.072579,546126.0,851121.0,1264300.0,1986977.0,4178298.0
19,2022,Klojen,28809525600,100257,5095361,3.110000e+11,6.381986e+09,1.870000e+12,698385,995285,...,1.890000e+12,110796.0,5705.801134,46.593623,265853.944186,566065.0,905034.0,1297978.0,2035489.0,4585568.0
20,2023,Klojen,36540902000,100712,5381262,4.060000e+11,2.875454e+09,2.190000e+12,648472,950575,...,1.870000e+12,100257.0,5654.069574,50.822995,287356.749155,698385.0,995285.0,1349379.0,1993892.0,4907348.0
29,2018,Lowokwaru,38149732000,174152,7905237,3.510000e+11,3.408054e+07,1.570000e+12,601606,906102,...,1.473420e+12,174152.0,5791.529856,43.257149,250525.069480,507792.0,790890.0,1174577.0,1717888.0,3914392.0
30,2019,Lowokwaru,33386573000,179040,6872733,2.390000e+11,1.357371e+09,1.670000e+12,558053,878883,...,1.570000e+12,174152.0,4825.880869,45.392743,219059.970600,601606.0,906102.0,1328382.0,1870774.0,3333732.0
31,2020,Lowokwaru,34759242700,180418,7106526,3.630000e+11,5.461481e+10,1.690000e+12,546126,851121,...,1.670000e+12,179040.0,4857.830648,38.386578,186475.497096,558053.0,878883.0,1318061.0,1930790.0,4031312.0
32,2021,Lowokwaru,36781012200,181445,7542021,2.950000e+11,4.555465e+10,1.890000e+12,566065,905034,...,1.690000e+12,180418.0,4891.172241,39.389229,192659.505703,546126.0,851121.0,1264300.0,1986977.0,4178298.0
33,2022,Lowokwaru,39114640400,168439,7899145,3.110000e+11,6.381986e+09,1.870000e+12,698385,995285,...,1.890000e+12,181445.0,4876.811162,41.566431,202711.632726,566065.0,905034.0,1297978.0,2035489.0,4585568.0
34,2023,Lowokwaru,49572070700,170149,8166814,4.060000e+11,2.875454e+09,2.190000e+12,648472,950575,...,1.870000e+12,168439.0,4951.756222,46.896176,232218.431598,698385.0,995285.0,1349379.0,1993892.0,4907348.0
8,2018,Sukun,26482344800,209062,6093731,3.510000e+11,3.408054e+07,1.570000e+12,601606,906102,...,1.473420e+12,209053.0,5399.970499,28.051432,151476.904900,507792.0,790890.0,1174577.0,1717888.0,3914392.0
9,2019,Sukun,25218673900,214623,5701541,2.390000e+11,1.357371e+09,1.670000e+12,558053,878883,...,1.570000e+12,209062.0,4345.834235,29.147961,126672.206331,601606.0,906102.0,1328382.0,1870774.0,3333732.0
10,2020,Sukun,26266484900,216055,6088016,3.630000e+11,5.461481e+10,1.690000e+12,546126,851121,...,1.670000e+12,214623.0,4423.132957,26.565377,117502.196410,558053.0,878883.0,1318061.0,1930790.0,4031312.0
11,2021,Sukun,27125148900,216918,6155527,2.950000e+11,4.555465e+10,1.890000e+12,566065,905034,...,1.690000e+12,216055.0,4314.457271,28.178084,121573.140635,546126.0,851121.0,1264300.0,1986977.0,4178298.0
12,2022,Sukun,27184392900,202682,6248290,3.110000e+11,6.381986e+09,1.870000e+12,698385,995285,...,1.890000e+12,216918.0,4406.633080,28.377207,125047.939313,566065.0,905034.0,1297978.0,2035489.0,4585568.0
13,2023,Sukun,36105529800,204970,6546303,4.060000e+11,2.875454e+09,2.190000e+12,648472,950575,...,1.870000e+12,202682.0,4350.693214,30.828046,134123.370107,698385.0,995285.0,1349379.0,1993892.0,4907348.0

In [6]:
from sklearn.svm import SVR
import sklearn.feature_selection
from sklearn.model_selection import GridSearchCV, LeaveOneOut, RepeatedKFold
from sklearn.preprocessing import StandardScaler
import sklearn.preprocessing

# Define hyperparameters to tune (example)
param_grid: dict[str, list[float] | list[str] | list[str | float]] = {
	'C': [0.01, 0.02, 0.05, 0.1, 1],          # Regularization parameter (common to all kernels)
    'epsilon': [1e-8, 1e-7, 1e-6, 1e-5, 1e-4, 0.01, 0.05, 0.1, 0.5],     # Epsilon-SVR parameter (common to all kernels)
    'kernel': ['linear', 'poly', 'rbf', 'sigmoid'], # The kernel type
    'degree': [2, 3, 4, 5, 6],            # Degree for 'poly' kernel (ignored for others)
    'gamma': ['scale', 'auto', 0.01, 0.05, 0.1, 0.5, 1], # Kernel coefficient for 'rbf', 'poly', 'sigmoid' (ignored for 'linear')
    'coef0': [0.1, 0.5, 0.9, 0.95, 1]
}

scoring: dict[str, str] = {
    "neg_mse": "neg_mean_squared_error", # Lower is better, negative for maximization
    "neg_rmse": "neg_root_mean_squared_error",
	"neg_mae": "neg_mean_absolute_error",
	"neg_mape": "neg_mean_absolute_percentage_error"
}

# results: dict[str, dict[str, tuple[SVR, dict, float]]] = { district:{ scoring_name:None for scoring_name in scoring.values() } for district in districts }
results_svr: dict[str, dict | pd.DataFrame | float | StandardScaler | SVR] = {scoring_name:None for scoring_name in scoring.values()}
# for district in districts:
# 	print(f"Measuring best SVR model for district {district}")
for scoring_name, scoring_method in scoring.items():
	svr: SVR = SVR()
	gscv: GridSearchCV = GridSearchCV(svr, param_grid=param_grid, cv=RepeatedKFold(n_splits=5, random_state=69420), scoring=scoring_method, refit=scoring_name, n_jobs=-1)
	# district_df = df_model[df_model["District"] == district].copy()
	X: pd.DataFrame = df_model[["District", "Water Spending (Rp)","Population","Water Used (m3)","Assets (Rp)","Operational (Rp)","Total Population","Water Price / Capita (Rp/m3)", "Water Usage / Capita (m3/person)", "Water Spending / Capita (Rp/person)", "Previous Water Used (m3)", "Previous Water Price / Capita (Rp/m3)", "Previous Water Usage / Capita (m3/person)", "Previous Water Spending / Capita (Rp/person)"]].copy()
	X["District"] = X["District"].map(districts_map)
	Y: pd.DataFrame = pd.DataFrame(df_model["Water Used (m3)"])
	feature_scaler: StandardScaler = StandardScaler()
	target_scaler: StandardScaler = StandardScaler()
	X_norm: np.ndarray = feature_scaler.fit_transform(X)
	Y_norm: np.ndarray = target_scaler.fit_transform(Y.to_numpy().reshape(-1, 1)).ravel()
	gscv.fit(X_norm, Y_norm)
	best_svr = gscv.best_estimator_
	print(f"Best SVR parameters (refit={scoring_name}): {gscv.best_params_}")
	print(f"Best score {gscv.best_score_}")
	cv_results_df = pd.DataFrame(gscv.cv_results_)
	results_svr[scoring_name] = {
	# results[district][scoring_name] = {
		"model":best_svr,
		"params":gscv.best_params_,
		"score":gscv.best_score_,
		"feature_scaler": feature_scaler,
		"target_scaler": target_scaler,
		"result_table": cv_results_df
	}
	# Access all scores from cv_results_
	display(cv_results_df[["param_C","param_coef0","param_degree","param_epsilon","param_gamma","param_kernel","split0_test_score","split1_test_score","split2_test_score","split3_test_score","split4_test_score","split5_test_score", "mean_test_score", "std_test_score", "rank_test_score"]])

Best SVR parameters (refit=neg_mse): {'C': 1, 'coef0': 0.1, 'degree': 2, 'epsilon': 1e-05, 'gamma': 'scale', 'kernel': 'linear'}
Best score -0.0002630681382155026

,param_C,param_coef0,param_degree,param_epsilon,param_gamma,param_kernel,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,split5_test_score,mean_test_score,std_test_score,rank_test_score
0,0.01,0.1,2,1.000000e-08,scale,linear,-0.223383,-0.246454,-0.316658,-0.205577,-0.757173,-0.181243,-0.337342,0.171570,10659
1,0.01,0.1,2,1.000000e-08,scale,poly,-0.613939,-0.688038,-1.480854,-0.788391,-2.161449,-0.829620,-1.018366,0.457519,23283
2,0.01,0.1,2,1.000000e-08,scale,rbf,-0.611002,-0.695664,-1.539309,-0.832783,-2.193828,-0.854681,-1.052855,0.471499,26476
3,0.01,0.1,2,1.000000e-08,scale,sigmoid,-0.601637,-0.693592,-1.510290,-0.811762,-2.112272,-0.827225,-1.023055,0.452717,23492
4,0.01,0.1,2,1.000000e-08,auto,linear,-0.223383,-0.246454,-0.316658,-0.205577,-0.757173,-0.181243,-0.337342,0.171570,10659
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31495,1.00,1.0,6,5.000000e-01,0.5,sigmoid,-3.758469,-6.032551,-6.638267,-2.230791,-4.379908,-1.608525,-3.765219,2.245930,30661
31496,1.00,1.0,6,5.000000e-01,1,linear,-0.131583,-0.141136,-0.096250,-0.077934,-0.309047,-0.099821,-0.160195,0.071421,6515
31497,1.00,1.0,6,5.000000e-01,1,poly,-0.349932,-0.315102,-1.458479,-0.655216,-0.921034,-0.338000,-1.027982,1.040712,23967
31498,1.00,1.0,6,5.000000e-01,1,rbf,-0.647251,-0.674755,-1.081482,-0.893945,-2.159252,-0.786908,-1.056639,0.486131,27290
31499,1.00,1.0,6,5.000000e-01,1,sigmoid,-6.519378,-13.633389,-5.097550,-4.957928,-6.966493,-5.623007,-5.424929,2.723442,31001

Best SVR parameters (refit=neg_rmse): {'C': 1, 'coef0': 0.1, 'degree': 2, 'epsilon': 1e-05, 'gamma': 'scale', 'kernel': 'linear'}
Best score -0.011535240185169665

,param_C,param_coef0,param_degree,param_epsilon,param_gamma,param_kernel,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,split5_test_score,mean_test_score,std_test_score,rank_test_score
0,0.01,0.1,2,1.000000e-08,scale,linear,-0.472634,-0.496442,-0.562724,-0.453406,-0.870157,-0.425726,-0.562186,0.145908,11005
1,0.01,0.1,2,1.000000e-08,scale,poly,-0.783543,-0.829480,-1.216904,-0.887914,-1.470187,-0.910835,-0.983274,0.227022,23523
2,0.01,0.1,2,1.000000e-08,scale,rbf,-0.781666,-0.834065,-1.240689,-0.912570,-1.481158,-0.924489,-0.999698,0.231212,26907
3,0.01,0.1,2,1.000000e-08,scale,sigmoid,-0.775652,-0.832822,-1.228939,-0.900978,-1.453366,-0.909519,-0.986017,0.225444,23895
4,0.01,0.1,2,1.000000e-08,auto,linear,-0.472634,-0.496442,-0.562724,-0.453406,-0.870157,-0.425726,-0.562186,0.145908,11005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31495,1.00,1.0,6,5.000000e-01,0.5,sigmoid,-1.938677,-2.456125,-2.576483,-1.493583,-2.092823,-1.268276,-1.854508,0.570981,30876
31496,1.00,1.0,6,5.000000e-01,1,linear,-0.362744,-0.375681,-0.310242,-0.279167,-0.555920,-0.315945,-0.391059,0.085254,6632
31497,1.00,1.0,6,5.000000e-01,1,poly,-0.591550,-0.561339,-1.207675,-0.809454,-0.959705,-0.581378,-0.923103,0.419361,18921
31498,1.00,1.0,6,5.000000e-01,1,rbf,-0.804519,-0.821435,-1.039943,-0.945487,-1.469439,-0.887078,-1.000028,0.237873,27146
31499,1.00,1.0,6,5.000000e-01,1,sigmoid,-2.553307,-3.692342,-2.257775,-2.226641,-2.639411,-2.371288,-2.257069,0.574950,31201

Best SVR parameters (refit=neg_mae): {'C': 1, 'coef0': 0.1, 'degree': 2, 'epsilon': 1e-05, 'gamma': 'scale', 'kernel': 'linear'}
Best score -0.007635144804744859

,param_C,param_coef0,param_degree,param_epsilon,param_gamma,param_kernel,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,split5_test_score,mean_test_score,std_test_score,rank_test_score
0,0.01,0.1,2,1.000000e-08,scale,linear,-0.409985,-0.366569,-0.424564,-0.399204,-0.864044,-0.369202,-0.483363,0.147741,11123
1,0.01,0.1,2,1.000000e-08,scale,poly,-0.617012,-0.628365,-1.086027,-0.799291,-1.433485,-0.750095,-0.848310,0.242360,24035
2,0.01,0.1,2,1.000000e-08,scale,rbf,-0.614608,-0.632095,-1.098977,-0.818915,-1.441532,-0.763424,-0.860860,0.247436,27276
3,0.01,0.1,2,1.000000e-08,scale,sigmoid,-0.612417,-0.629980,-1.086194,-0.809670,-1.415655,-0.753072,-0.849605,0.242063,24370
4,0.01,0.1,2,1.000000e-08,auto,linear,-0.409985,-0.366569,-0.424564,-0.399204,-0.864044,-0.369202,-0.483363,0.147741,11123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31495,1.00,1.0,6,5.000000e-01,0.5,sigmoid,-1.287624,-1.953485,-1.777501,-1.339099,-1.498616,-0.791293,-1.514680,0.466189,30996
31496,1.00,1.0,6,5.000000e-01,1,linear,-0.334542,-0.292196,-0.268749,-0.236411,-0.543468,-0.286701,-0.348586,0.082437,7255
31497,1.00,1.0,6,5.000000e-01,1,poly,-0.544466,-0.511667,-0.935969,-0.667579,-0.906029,-0.528924,-0.760196,0.274315,17477
31498,1.00,1.0,6,5.000000e-01,1,rbf,-0.615970,-0.621807,-0.862796,-0.819557,-1.419679,-0.711383,-0.850717,0.251920,24806
31499,1.00,1.0,6,5.000000e-01,1,sigmoid,-1.971320,-3.166270,-1.953776,-1.804440,-2.274175,-1.513697,-1.840239,0.493586,31336

Best SVR parameters (refit=neg_mape): {'C': 1, 'coef0': 0.1, 'degree': 2, 'epsilon': 1e-07, 'gamma': 'scale', 'kernel': 'linear'}
Best score -0.02249437731664194

,param_C,param_coef0,param_degree,param_epsilon,param_gamma,param_kernel,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,split5_test_score,mean_test_score,std_test_score,rank_test_score
0,0.01,0.1,2,1.000000e-08,scale,linear,-0.838299,-2.103542,-0.647056,-0.519602,-0.661081,-1.459273,-1.227246,1.246538,9202
1,0.01,0.1,2,1.000000e-08,scale,poly,-0.874132,-2.889826,-4.091975,-0.992944,-1.050753,-3.017210,-1.499460,0.787644,17215
2,0.01,0.1,2,1.000000e-08,scale,rbf,-0.872355,-3.123932,-4.069735,-1.009519,-1.050760,-3.251773,-1.546208,0.843926,20748
3,0.01,0.1,2,1.000000e-08,scale,sigmoid,-0.876270,-3.108838,-3.993839,-1.000677,-1.032842,-3.247872,-1.525485,0.826253,18854
4,0.01,0.1,2,1.000000e-08,auto,linear,-0.838299,-2.103542,-0.647056,-0.519602,-0.661081,-1.459273,-1.227246,1.246538,9202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31495,1.00,1.0,6,5.000000e-01,0.5,sigmoid,-1.940909,-8.060651,-3.036068,-2.399971,-1.111231,-6.447101,-7.723502,11.434807,31086
31496,1.00,1.0,6,5.000000e-01,1,linear,-1.003238,-5.069251,-0.734357,-0.305766,-0.409826,-2.632034,-1.309085,1.430443,11098
31497,1.00,1.0,6,5.000000e-01,1,poly,-1.484682,-7.093812,-3.610464,-0.775572,-0.644713,-6.514823,-2.623122,2.103140,30059
31498,1.00,1.0,6,5.000000e-01,1,rbf,-0.807808,-2.658532,-2.253773,-0.959058,-1.020838,-1.282339,-1.216213,0.451922,7451
31499,1.00,1.0,6,5.000000e-01,1,sigmoid,-5.260406,-65.326706,-6.531304,-3.055460,-2.107701,-3.648509,-10.512828,15.577918,31286

In [7]:
import joblib
joblib.dump(results_svr, "results_svr.joblib")

['results_svr.joblib']

In [ ]:
import joblib
results_svr = joblib.load("results_svr.joblib")

In [9]:
from sklearn.neural_network import MLPRegressor
from sklearn.svm import SVR
import sklearn.feature_selection
from sklearn.model_selection import GridSearchCV, LeaveOneOut, RepeatedKFold
from sklearn.preprocessing import StandardScaler
import sklearn.preprocessing

results_mlp: dict[str, dict | pd.DataFrame | float | StandardScaler | SVR] = { scoring_name:None for scoring_name in scoring.values() }

mlp_param_list: dict[str, list[tuple] | list[str] | list[float] | int] = {
	"hidden_layer_sizes": [(10,20,25), (20,40,50)], 
	"activation": ["identity", "logistic", "tanh", "relu"], 
	"solver": ["sgd", "adam"], 
	"alpha": [0.001,0.01,0.1],
	"learning_rate": ["constant",  "invscaling", "adaptive"],
	"beta_1": [0.8, 0.9],
	"beta_2": [0.99, 0.999],
	"epsilon": [1e-8, 1e-7],
	"max_iter": [1000],
	"learning_rate_init": [0.01, 0.1]
}

for scoring_name, scoring_method in scoring.items():
	regressor = MLPRegressor()
	gscv: GridSearchCV = GridSearchCV(regressor, param_grid=mlp_param_list, cv=RepeatedKFold(n_splits=5, random_state=69420), scoring=scoring_method, refit=scoring_name, n_jobs=-1)
	X: pd.DataFrame = df_model[["District", "Water Spending (Rp)","Population","Water Used (m3)","Assets (Rp)","Operational (Rp)","Total Population","Water Price / Capita (Rp/m3)", "Water Usage / Capita (m3/person)", "Water Spending / Capita (Rp/person)", "Previous Water Used (m3)", "Previous Water Price / Capita (Rp/m3)", "Previous Water Usage / Capita (m3/person)", "Previous Water Spending / Capita (Rp/person)"]].copy()
	X["District"] = X["District"].map(districts_map)
	Y: pd.DataFrame = pd.DataFrame(df_model["Water Used (m3)"])
	feature_scaler: StandardScaler = StandardScaler()
	target_scaler: StandardScaler = StandardScaler()
	X_norm: np.ndarray = feature_scaler.fit_transform(X)
	if np.count_nonzero(np.isnan(X_norm)) > 0:
		print(np.where(pd.DataFrame(X_norm).isna()))
		raise ValueError("X_norm contains NaN")
	if np.count_nonzero(np.isnan(Y_norm)) > 0:
		print(np.where(pd.DataFrame(Y_norm).isna()))
		raise ValueError("Y_norm contains NaN")
	Y_norm: np.ndarray = target_scaler.fit_transform(Y.to_numpy().reshape(-1, 1)).ravel()
	gscv.fit(X_norm, Y_norm)
	best_mlp = gscv.best_estimator_
	print(f"Best MLP parameters (refit={scoring_name}): {gscv.best_params_}")
	print(f"Best score {gscv.best_score_}")
	cv_results_df = pd.DataFrame(gscv.cv_results_)
	results_mlp[scoring_name] = {
		"model":best_mlp,
		"params":gscv.best_params_,
		"score":gscv.best_score_,
		"feature_scaler": feature_scaler,
		"target_scaler": target_scaler,
		"result_table": cv_results_df
	}
	display(cv_results_df[["params","split0_test_score","split1_test_score","split2_test_score","split3_test_score","split4_test_score","split5_test_score", "mean_test_score", "std_test_score", "rank_test_score"]])

C:\Users\Edisonwidjaja\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\model_selection\_validation.py:528: FitFailedWarning:
5765 fits failed out of a total of 115200.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
5765 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Edisonwidjaja\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Edisonwidjaja\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py", line 1389, in wrapper
    return fit_method(estimator, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Edisonwidjaja\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\neural_network\_multilayer_perceptron.py", line 754, in fit
    return self._fit(X, y, incremental=False)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Edisonwidjaja\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\neural_network\_multilayer_perceptron.py", line 496, in _fit
    raise ValueError(
ValueError: Solver produced non-finite parameter weights. The input data may contain large values and need to be preprocessed.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Edisonwidjaja\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\model_selection\_search.py:1108: UserWarning: One or more of the test scores are non-finite: [-0.01709557 -0.00774838         nan ... -0.03336871 -0.03288377
 -0.49939113]
  warnings.warn(

Best MLP parameters (refit=neg_mse): {'activation': 'identity', 'alpha': 0.1, 'beta_1': 0.8, 'beta_2': 0.99, 'epsilon': 1e-07, 'hidden_layer_sizes': (10, 20, 25), 'learning_rate': 'adaptive', 'learning_rate_init': 0.01, 'max_iter': 1000, 'solver': 'adam'}
Best score -0.0018988431512947566

,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,split5_test_score,mean_test_score,std_test_score,rank_test_score
0,"{'activation': 'identity', 'alpha': 0.001, 'be...",-0.031082,-0.003003,-0.005190,-0.023661,-0.058482,-0.024007,-0.017096,0.016032,320
1,"{'activation': 'identity', 'alpha': 0.001, 'be...",-0.017374,-0.001316,-0.012178,-0.003341,-0.008819,-0.001752,-0.007748,0.006610,181
2,"{'activation': 'identity', 'alpha': 0.001, 'be...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2160
3,"{'activation': 'identity', 'alpha': 0.001, 'be...",-0.009017,-0.002122,-0.007243,-0.009827,-0.007376,-0.002114,-0.113266,0.385928,929
4,"{'activation': 'identity', 'alpha': 0.001, 'be...",-0.313930,-0.073057,-0.898730,-0.169243,-0.230938,-0.508339,-0.658203,0.742894,1686
...,...,...,...,...,...,...,...,...,...,...
2299,"{'activation': 'relu', 'alpha': 0.1, 'beta_1':...",-0.528796,-0.290245,-0.459911,-0.586696,-1.105751,-0.707662,-0.639403,0.521491,1677
2300,"{'activation': 'relu', 'alpha': 0.1, 'beta_1':...",-0.111404,-0.132892,-0.098139,-0.049080,-0.108532,-0.121805,-0.098619,0.077525,845
2301,"{'activation': 'relu', 'alpha': 0.1, 'beta_1':...",-0.054125,-0.093658,-0.018124,-0.026270,-0.050656,-0.075625,-0.033369,0.027546,458
2302,"{'activation': 'relu', 'alpha': 0.1, 'beta_1':...",-0.012424,-0.065798,-0.084431,-0.010688,-0.046303,-0.061747,-0.032884,0.036604,455
2303,"{'activation': 'relu', 'alpha': 0.1, 'beta_1':...",-0.561160,-0.450757,-0.017724,-0.537072,-0.392155,-0.160439,-0.499391,0.447518,1608

C:\Users\Edisonwidjaja\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\model_selection\_validation.py:528: FitFailedWarning:
5792 fits failed out of a total of 115200.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
5792 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Edisonwidjaja\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Edisonwidjaja\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py", line 1389, in wrapper
    return fit_method(estimator, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Edisonwidjaja\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\neural_network\_multilayer_perceptron.py", line 754, in fit
    return self._fit(X, y, incremental=False)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Edisonwidjaja\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\neural_network\_multilayer_perceptron.py", line 496, in _fit
    raise ValueError(
ValueError: Solver produced non-finite parameter weights. The input data may contain large values and need to be preprocessed.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Edisonwidjaja\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\model_selection\_search.py:1108: UserWarning: One or more of the test scores are non-finite: [-0.10866431 -0.07114289         nan ... -0.16143307 -0.17779193
 -0.59051463]
  warnings.warn(

Best MLP parameters (refit=neg_rmse): {'activation': 'identity', 'alpha': 0.1, 'beta_1': 0.9, 'beta_2': 0.999, 'epsilon': 1e-07, 'hidden_layer_sizes': (10, 20, 25), 'learning_rate': 'adaptive', 'learning_rate_init': 0.01, 'max_iter': 1000, 'solver': 'adam'}
Best score -0.041098524437183065

,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,split5_test_score,mean_test_score,std_test_score,rank_test_score
0,"{'activation': 'identity', 'alpha': 0.001, 'be...",-0.153458,-0.070837,-0.134476,-0.070614,-0.131722,-0.066022,-0.108664,0.046221,294
1,"{'activation': 'identity', 'alpha': 0.001, 'be...",-0.040580,-0.030976,-0.057391,-0.066907,-0.114738,-0.061004,-0.071143,0.032747,138
2,"{'activation': 'identity', 'alpha': 0.001, 'be...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2161
3,"{'activation': 'identity', 'alpha': 0.001, 'be...",-0.235937,-0.092992,-0.075589,-0.031200,-0.070383,-0.052460,-0.194725,0.281515,541
4,"{'activation': 'identity', 'alpha': 0.001, 'be...",-1.575093,-0.466414,-0.306804,-0.264390,-0.693985,-0.576134,-0.706881,0.420036,1722
...,...,...,...,...,...,...,...,...,...,...
2299,"{'activation': 'relu', 'alpha': 0.1, 'beta_1':...",-0.344376,-0.452919,-0.152568,-0.223440,-1.067260,-0.240466,-0.638500,0.354949,1628
2300,"{'activation': 'relu', 'alpha': 0.1, 'beta_1':...",-0.233106,-0.278669,-0.346180,-0.373426,-0.442310,-0.386486,-0.296147,0.089112,893
2301,"{'activation': 'relu', 'alpha': 0.1, 'beta_1':...",-0.119465,-0.143456,-0.132121,-0.122119,-0.208241,-0.215767,-0.161433,0.052709,450
2302,"{'activation': 'relu', 'alpha': 0.1, 'beta_1':...",-0.116669,-0.234930,-0.191551,-0.092266,-0.153433,-0.173285,-0.177792,0.089144,503
2303,"{'activation': 'relu', 'alpha': 0.1, 'beta_1':...",-0.662682,-0.575996,-1.289524,-0.992753,-0.658676,-0.501233,-0.590515,0.326754,1572

C:\Users\Edisonwidjaja\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\model_selection\_validation.py:528: FitFailedWarning:
5834 fits failed out of a total of 115200.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
5834 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Edisonwidjaja\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Edisonwidjaja\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py", line 1389, in wrapper
    return fit_method(estimator, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Edisonwidjaja\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\neural_network\_multilayer_perceptron.py", line 754, in fit
    return self._fit(X, y, incremental=False)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Edisonwidjaja\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\neural_network\_multilayer_perceptron.py", line 496, in _fit
    raise ValueError(
ValueError: Solver produced non-finite parameter weights. The input data may contain large values and need to be preprocessed.

  warnings.warn(some_fits_failed_message, FitFailedWarning)

Best MLP parameters (refit=neg_mae): {'activation': 'identity', 'alpha': 0.1, 'beta_1': 0.8, 'beta_2': 0.99, 'epsilon': 1e-07, 'hidden_layer_sizes': (10, 20, 25), 'learning_rate': 'adaptive', 'learning_rate_init': 0.01, 'max_iter': 1000, 'solver': 'adam'}
Best score -0.034434215515809836

C:\Users\Edisonwidjaja\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\model_selection\_search.py:1108: UserWarning: One or more of the test scores are non-finite: [-0.09185845 -0.06508002         nan ... -0.13822425 -0.14008173
 -0.51446452]
  warnings.warn(

,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,split5_test_score,mean_test_score,std_test_score,rank_test_score
0,"{'activation': 'identity', 'alpha': 0.001, 'be...",-0.168642,-0.039808,-0.063118,-0.059976,-0.290054,-0.091894,-0.091858,0.042689,303
1,"{'activation': 'identity', 'alpha': 0.001, 'be...",-0.060375,-0.026965,-0.128886,-0.043086,-0.092732,-0.047388,-0.065080,0.035652,166
2,"{'activation': 'identity', 'alpha': 0.001, 'be...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2161
3,"{'activation': 'identity', 'alpha': 0.001, 'be...",-0.273086,-0.081231,-0.081715,-0.031002,-0.093339,-0.115311,-0.128447,0.151454,439
4,"{'activation': 'identity', 'alpha': 0.001, 'be...",-0.170715,-0.322241,-0.857471,-0.876184,-0.271321,-0.443175,-0.507177,0.299531,1586
...,...,...,...,...,...,...,...,...,...,...
2299,"{'activation': 'relu', 'alpha': 0.1, 'beta_1':...",-0.360011,-0.390808,-0.344771,-0.455650,-1.059561,-0.550137,-0.530520,0.278084,1618
2300,"{'activation': 'relu', 'alpha': 0.1, 'beta_1':...",-0.294048,-0.167393,-0.321051,-0.241728,-0.262783,-0.312047,-0.235302,0.075479,866
2301,"{'activation': 'relu', 'alpha': 0.1, 'beta_1':...",-0.133342,-0.240602,-0.142503,-0.161134,-0.275707,-0.137353,-0.138224,0.055466,477
2302,"{'activation': 'relu', 'alpha': 0.1, 'beta_1':...",-0.151041,-0.160973,-0.159570,-0.051935,-0.188762,-0.180425,-0.140082,0.052986,482
2303,"{'activation': 'relu', 'alpha': 0.1, 'beta_1':...",-0.091055,-0.369457,-0.865444,-0.699042,-0.814427,-0.872193,-0.514465,0.245714,1595

C:\Users\Edisonwidjaja\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\model_selection\_validation.py:528: FitFailedWarning:
5779 fits failed out of a total of 115200.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
5779 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Edisonwidjaja\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Edisonwidjaja\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py", line 1389, in wrapper
    return fit_method(estimator, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Edisonwidjaja\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\neural_network\_multilayer_perceptron.py", line 754, in fit
    return self._fit(X, y, incremental=False)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Edisonwidjaja\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\neural_network\_multilayer_perceptron.py", line 496, in _fit
    raise ValueError(
ValueError: Solver produced non-finite parameter weights. The input data may contain large values and need to be preprocessed.

  warnings.warn(some_fits_failed_message, FitFailedWarning)

Best MLP parameters (refit=neg_mape): {'activation': 'identity', 'alpha': 0.1, 'beta_1': 0.8, 'beta_2': 0.99, 'epsilon': 1e-08, 'hidden_layer_sizes': (20, 40, 50), 'learning_rate': 'constant', 'learning_rate_init': 0.01, 'max_iter': 1000, 'solver': 'adam'}
Best score -0.1595263146255534

C:\Users\Edisonwidjaja\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\model_selection\_search.py:1108: UserWarning: One or more of the test scores are non-finite: [-0.55523774 -0.34535609         nan ... -1.25172558 -0.97766191
 -1.87611358]
  warnings.warn(

,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,split5_test_score,mean_test_score,std_test_score,rank_test_score
0,"{'activation': 'identity', 'alpha': 0.001, 'be...",-0.713603,-1.226512,-2.298677,-0.276545,-0.131672,-0.407447,-0.555238,0.632122,310
1,"{'activation': 'identity', 'alpha': 0.001, 'be...",-0.414552,-0.776136,-0.576975,-0.052425,-0.027635,-3.259772,-0.345356,0.518083,152
2,"{'activation': 'identity', 'alpha': 0.001, 'be...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2161
3,"{'activation': 'identity', 'alpha': 0.001, 'be...",-0.206237,-0.794847,-1.160897,-0.170415,-0.057358,-2.352867,-1.761657,4.875456,1264
4,"{'activation': 'identity', 'alpha': 0.001, 'be...",-1.364570,-1.550962,-6.627637,-0.917929,-0.145447,-1.485689,-2.794935,3.327496,1865
...,...,...,...,...,...,...,...,...,...,...
2299,"{'activation': 'relu', 'alpha': 0.1, 'beta_1':...",-0.883207,-5.438412,-0.861464,-1.321762,-0.704017,-4.119985,-2.233657,2.930028,1670
2300,"{'activation': 'relu', 'alpha': 0.1, 'beta_1':...",-0.243211,-10.044434,-0.778577,-0.440615,-0.257858,-2.226172,-1.932578,3.012355,1426
2301,"{'activation': 'relu', 'alpha': 0.1, 'beta_1':...",-0.247472,-4.128405,-0.731087,-0.218592,-0.182017,-5.724010,-1.251726,1.959517,800
2302,"{'activation': 'relu', 'alpha': 0.1, 'beta_1':...",-0.608154,-4.167045,-0.629539,-0.218937,-0.114306,-6.994266,-0.977662,1.473792,488
2303,"{'activation': 'relu', 'alpha': 0.1, 'beta_1':...",-1.432616,-4.227977,-0.456633,-0.332077,-0.521456,-5.206017,-1.876114,2.866495,1366

In [ ]:
import joblib
joblib.dump(results_mlp, "results_mlp.joblib")

['results_mpl.joblib']

In [8]:
import joblib
results_mlp = joblib.load("results_mlp.joblib")

{'neg_mean_squared_error': None, 'neg_root_mean_squared_error': None, 'neg_mean_absolute_error': None, 'neg_mean_absolute_percentage_error': None, 'neg_mse': {'model': SVR(C=1, coef0=0.1, degree=2, epsilon=1e-05, kernel='linear'), 'params': {'C': 1, 'coef0': 0.1, 'degree': 2, 'epsilon': 1e-05, 'gamma': 'scale', 'kernel': 'linear'}, 'score': np.float64(-0.0002630681382155026), 'feature_scaler': StandardScaler(), 'target_scaler': StandardScaler(), 'result_table':        mean_fit_time  std_fit_time  mean_score_time  std_score_time  param_C  \
0           0.001003      0.000672         0.001009        0.001240     0.01
1           0.000754      0.000514         0.000795        0.000484     0.01
2           0.000691      0.000617         0.000957        0.000770     0.01
3           0.000823      0.000976         0.000801        0.000490     0.01
4           0.000814      0.000458         0.001055        0.001850     0.01
...              ...           ...              ...             ...      ...
31495       0.000789      0.000460         0.000421        0.000505     1.00
31496       0.000435      0.000569         0.000554        0.000533     1.00
31497       0.000631      0.000489         0.000621        0.000496     1.00
31498       0.000472      0.000516         0.000743        0.000494     1.00
31499       0.000479      0.000535         0.000645        0.000490     1.00

       param_coef0  param_degree  param_epsilon param_gamma param_kernel  ...  \
0              0.1             2   1.000000e-08       scale       linear  ...
1              0.1             2   1.000000e-08       scale         poly  ...
2              0.1             2   1.000000e-08       scale          rbf  ...
3              0.1             2   1.000000e-08       scale      sigmoid  ...
4              0.1             2   1.000000e-08        auto       linear  ...
...            ...           ...            ...         ...          ...  ...
31495          1.0             6   5.000000e-01         0.5      sigmoid  ...
31496          1.0             6   5.000000e-01           1       linear  ...
31497          1.0             6   5.000000e-01           1         poly  ...
31498          1.0             6   5.000000e-01           1          rbf  ...
31499          1.0             6   5.000000e-01           1      sigmoid  ...

      split43_test_score  split44_test_score  split45_test_score  \
0              -0.661467           -0.066358           -0.345650
1              -1.758759           -0.386033           -1.034803
2              -1.821061           -0.416213           -1.051177
3              -1.773327           -0.402909           -1.025139
4              -0.661467           -0.066358           -0.345650
...                  ...                 ...                 ...
31495          -3.529108           -2.443253           -1.816938
31496          -0.304480           -0.067638           -0.220716
31497          -0.941392           -0.550670           -0.373282
31498          -1.804502           -0.439172           -1.060347
31499          -6.004868           -3.779162           -4.995479

       split46_test_score  split47_test_score  split48_test_score  \
0               -0.133128           -0.474830           -0.418523
1               -0.731269           -1.580989           -0.958387
2               -0.770809           -1.719443           -0.959097
3               -0.754089           -1.659688           -0.927524
4               -0.133128           -0.474830           -0.418523
...                   ...                 ...                 ...
31495           -3.103525           -2.433138           -3.780099
31496           -0.113752           -0.108318           -0.140664
31497           -0.390007           -2.011694           -0.350087
31498           -0.690477           -1.687808           -1.074881
31499           -4.254723           -6.868960           -5.151843

       split49_test_score  mean_test_score  std_test_score  rank_test_score
0               -0.272462        -0.337342        0.171570            10659
1               -0.998615        -1.018366        0.457519            23283
2               -1.019466        -1.052855        0.471499            26476
3               -0.993127        -1.023055        0.452717            23492
4               -0.272462        -0.337342        0.171570            10659
...                   ...              ...             ...              ...
31495           -2.376996        -3.765219        2.245930            30661
31496           -0.200576        -0.160195        0.071421             6515
31497           -0.574734        -1.027982        1.040712            23967
31498           -0.980993        -1.056639        0.486131            27290
31499           -5.992637        -5.424929        2.723442            31001

[31500 rows x 64 columns]}, 'neg_rmse': {'model': SVR(C=1, coef0=0.1, degree=2, epsilon=1e-05, kernel='linear'), 'params': {'C': 1, 'coef0': 0.1, 'degree': 2, 'epsilon': 1e-05, 'gamma': 'scale', 'kernel': 'linear'}, 'score': np.float64(-0.011535240185169665), 'feature_scaler': StandardScaler(), 'target_scaler': StandardScaler(), 'result_table':        mean_fit_time  std_fit_time  mean_score_time  std_score_time  param_C  \
0           0.000643      0.000525         0.000633        0.000551     0.01
1           0.000548      0.000534         0.000547        0.000507     0.01
2           0.000677      0.000492         0.000457        0.000521     0.01
3           0.000544      0.000549         0.000582        0.000553     0.01
4           0.000565      0.000514         0.000684        0.000507     0.01
...              ...           ...              ...             ...      ...
31495       0.000594      0.000489         0.000743        0.000484     1.00
31496       0.000591      0.000487         0.000771        0.000439     1.00
31497       0.000622      0.000575         0.000540        0.000633     1.00
31498       0.000587      0.000529         0.000744        0.000502     1.00
31499       0.000493      0.000518         0.000695        0.000513     1.00

       param_coef0  param_degree  param_epsilon param_gamma param_kernel  ...  \
0              0.1             2   1.000000e-08       scale       linear  ...
1              0.1             2   1.000000e-08       scale         poly  ...
2              0.1             2   1.000000e-08       scale          rbf  ...
3              0.1             2   1.000000e-08       scale      sigmoid  ...
4              0.1             2   1.000000e-08        auto       linear  ...
...            ...           ...            ...         ...          ...  ...
31495          1.0             6   5.000000e-01         0.5      sigmoid  ...
31496          1.0             6   5.000000e-01           1       linear  ...
31497          1.0             6   5.000000e-01           1         poly  ...
31498          1.0             6   5.000000e-01           1          rbf  ...
31499          1.0             6   5.000000e-01           1      sigmoid  ...

      split43_test_score  split44_test_score  split45_test_score  \
0              -0.813306           -0.257600           -0.587920
1              -1.326182           -0.621315           -1.017253
2              -1.349467           -0.645146           -1.025269
3              -1.331663           -0.634751           -1.012492
4              -0.813306           -0.257600           -0.587920
...                  ...                 ...                 ...
31495          -1.878592           -1.563091           -1.347938
31496          -0.551797           -0.260074           -0.469804
31497          -0.970254           -0.742072           -0.610968
31498          -1.343318           -0.662701           -1.029732
31499          -2.450483           -1.944007           -2.235057

       split46_test_score  split47_test_score  split48_test_score  \
0               -0.364867           -0.689079           -0.646934
1               -0.855143           -1.257374           -0.978973
2               -0.877957           -1.311275           -0.979335
3               -0.868383           -1.288289           -0.963080
4               -0.364867           -0.689079           -0.646934
...                   ...                 ...                 ...
31495           -1.761683           -1.559852           -1.944248
31496           -0.337271           -0.329117           -0.375051
31497           -0.624506           -1.418342           -0.591681
31498           -0.830950           -1.299157           -1.036765
31499           -2.062698           -2.620870           -2.269767

       split49_test_score  mean_test_score  std_test_score  rank_test_score
0               -0.521979        -0.562186        0.145908            11005
1               -0.999307        -0.983274        0.227022            23523
2               -1.009686        -0.999698        0.231212            26907
3               -0.996558        -0.986017        0.225444            23895
4               -0.521979        -0.562186        0.145908            11005
...                   ...              ...             ...              ...
31495           -1.541751        -1.854508        0.570981            30876
31496           -0.447858        -0.391059        0.085254             6632
31497           -0.758112        -0.923103        0.419361            18921
31498           -0.990451        -1.000028        0.237873            27146
31499           -2.447986        -2.257069        0.574950            31201

[31500 rows x 64 columns]}, 'neg_mae': {'model': SVR(C=1, coef0=0.1, degree=2, epsilon=1e-05, kernel='linear'), 'params': {'C': 1, 'coef0': 0.1, 'degree': 2, 'epsilon': 1e-05, 'gamma': 'scale', 'kernel': 'linear'}, 'score': np.float64(-0.007635144804744859), 'feature_scaler': StandardScaler(), 'target_scaler': StandardScaler(), 'result_table':        mean_fit_time  std_fit_time  mean_score_time  std_score_time  param_C  \
0           0.000589      0.000528         0.000562        0.000559     0.01
1           0.000532      0.000553         0.000613        0.000552     0.01
2           0.000592      0.000518         0.000472        0.000563     0.01
3           0.000491      0.000506         0.000582        0.000515     0.01
4           0.000624      0.000538         0.000625        0.000497     0.01
...              ...           ...              ...             ...      ...
31495       0.000815      0.000512         0.000481        0.000540     1.00
31496       0.000592      0.000509         0.000523        0.000531     1.00
31497       0.000620      0.000487         0.000565        0.000537     1.00
31498       0.000542      0.000500         0.000681        0.000457     1.00
31499       0.000441      0.000556         0.000674        0.000548     1.00

       param_coef0  param_degree  param_epsilon param_gamma param_kernel  ...  \
0              0.1             2   1.000000e-08       scale       linear  ...
1              0.1             2   1.000000e-08       scale         poly  ...
2              0.1             2   1.000000e-08       scale          rbf  ...
3              0.1             2   1.000000e-08       scale      sigmoid  ...
4              0.1             2   1.000000e-08        auto       linear  ...
...            ...           ...            ...         ...          ...  ...
31495          1.0             6   5.000000e-01         0.5      sigmoid  ...
31496          1.0             6   5.000000e-01           1       linear  ...
31497          1.0             6   5.000000e-01           1         poly  ...
31498          1.0             6   5.000000e-01           1          rbf  ...
31499          1.0             6   5.000000e-01           1      sigmoid  ...

      split43_test_score  split44_test_score  split45_test_score  \
0              -0.748566           -0.207311           -0.485996
1              -1.269904           -0.554857           -0.826176
2              -1.292053           -0.567337           -0.828461
3              -1.276128           -0.557928           -0.819412
4              -0.748566           -0.207311           -0.485996
...                  ...                 ...                 ...
31495          -1.445538           -1.298935           -0.947993
31496          -0.494582           -0.247354           -0.425558
31497          -0.889290           -0.633833           -0.540903
31498          -1.270515           -0.588429           -0.835690
31499          -2.076427           -1.747219           -1.944735

       split46_test_score  split47_test_score  split48_test_score  \
0               -0.280057           -0.629828           -0.595739
1               -0.717245           -1.187075           -0.912520
2               -0.728025           -1.236757           -0.911306
3               -0.719411           -1.214245           -0.897284
4               -0.280057           -0.629828           -0.595739
...                   ...                 ...                 ...
31495           -1.251441           -1.344966           -1.765359
31496           -0.289047           -0.295286           -0.347049
31497           -0.592808           -1.146096           -0.555583
31498           -0.644205           -1.222756           -0.956609
31499           -1.615081           -2.020002           -1.879741

       split49_test_score  mean_test_score  std_test_score  rank_test_score
0               -0.440336        -0.483363        0.147741            11123
1               -0.770920        -0.848310        0.242360            24035
2               -0.781426        -0.860860        0.247436            27276
3               -0.773886        -0.849605        0.242063            24370
4               -0.440336        -0.483363        0.147741            11123
...                   ...              ...             ...              ...
31495           -1.379115        -1.514680        0.466189            30996
31496           -0.356027        -0.348586        0.082437             7255
31497           -0.609577        -0.760196        0.274315            17477
31498           -0.730544        -0.850717        0.251920            24806
31499           -1.369234        -1.840239        0.493586            31336

[31500 rows x 64 columns]}, 'neg_mape': {'model': SVR(C=1, coef0=0.1, degree=2, epsilon=1e-07, kernel='linear'), 'params': {'C': 1, 'coef0': 0.1, 'degree': 2, 'epsilon': 1e-07, 'gamma': 'scale', 'kernel': 'linear'}, 'score': np.float64(-0.02249437731664194), 'feature_scaler': StandardScaler(), 'target_scaler': StandardScaler(), 'result_table':        mean_fit_time  std_fit_time  mean_score_time  std_score_time  param_C  \
0           0.000810      0.000605         0.000625        0.000564     0.01
1           0.000557      0.000529         0.000698        0.000553     0.01
2           0.000562      0.000547         0.000624        0.000528     0.01
3           0.000523      0.000513         0.000695        0.000449     0.01
4           0.000657      0.000498         0.000601        0.000496     0.01
...              ...           ...              ...             ...      ...
31495       0.000652      0.000473         0.000460        0.000488     1.00
31496       0.000755      0.000519         0.000552        0.000495     1.00
31497       0.000676      0.000562         0.000567        0.000541     1.00
31498       0.000391      0.000456         0.000818        0.000406     1.00
31499       0.000619      0.000498         0.000650        0.000507     1.00

       param_coef0  param_degree  param_epsilon param_gamma param_kernel  ...  \
0              0.1             2   1.000000e-08       scale       linear  ...
1              0.1             2   1.000000e-08       scale         poly  ...
2              0.1             2   1.000000e-08       scale          rbf  ...
3              0.1             2   1.000000e-08       scale      sigmoid  ...
4              0.1             2   1.000000e-08        auto       linear  ...
...            ...           ...            ...         ...          ...  ...
31495          1.0             6   5.000000e-01         0.5      sigmoid  ...
31496          1.0             6   5.000000e-01           1       linear  ...
31497          1.0             6   5.000000e-01           1         poly  ...
31498          1.0             6   5.000000e-01           1          rbf  ...
31499          1.0             6   5.000000e-01           1      sigmoid  ...

      split43_test_score  split44_test_score  split45_test_score  \
0              -0.667516           -0.365020           -0.764917
1              -1.054454           -0.952856           -0.917821
2              -1.070474           -0.959046           -0.916562
3              -1.060420           -0.941240           -0.912468
4              -0.667516           -0.365020           -0.764917
...                  ...                 ...                 ...
31495          -1.637212           -3.309571           -1.880197
31496          -0.370441           -0.563260           -0.964789
31497          -0.660007           -1.327011           -1.194496
31498          -1.018215           -1.021571           -0.982775
31499          -2.172062           -3.974204           -6.603905

       split46_test_score  split47_test_score  split48_test_score  \
0               -0.454759           -0.602592           -0.705100
1               -2.194136           -1.189923           -1.086469
2               -2.219379           -1.231280           -1.082865
3               -2.174206           -1.203926           -1.067747
4               -0.454759           -0.602592           -0.705100
...                   ...                 ...                 ...
31495           -4.156914           -2.203039           -2.424410
31496           -0.613414           -0.325072           -0.429965
31497           -2.573239           -1.244341           -0.729869
31498           -1.237745           -1.203275           -1.123638
31499           -3.983758           -1.779991           -2.523582

       split49_test_score  mean_test_score  std_test_score  rank_test_score
0               -4.406237        -1.227246        1.246538             9202
1               -2.866446        -1.499460        0.787644            17215
2               -3.063651        -1.546208        0.843926            20748
3               -2.984617        -1.525485        0.826253            18854
4               -4.406237        -1.227246        1.246538             9202
...                   ...              ...             ...              ...
31495          -24.826915        -7.723502       11.434807            31086
31496           -5.441576        -1.309085        1.430443            11098
31497           -6.945781        -2.623122        2.103140            30059
31498           -1.083570        -1.216213        0.451922             7451
31499          -86.929953       -10.512828       15.577918            31286

[31500 rows x 64 columns]}}
{'neg_mean_squared_error': None, 'neg_root_mean_squared_error': None, 'neg_mean_absolute_error': None, 'neg_mean_absolute_percentage_error': None, 'neg_mse': {'model': MLPRegressor(activation='identity', alpha=0.1, beta_1=0.8, beta_2=0.99,
             epsilon=1e-07, hidden_layer_sizes=(10, 20, 25),
             learning_rate='adaptive', learning_rate_init=0.01, max_iter=1000), 'params': {'activation': 'identity', 'alpha': 0.1, 'beta_1': 0.8, 'beta_2': 0.99, 'epsilon': 1e-07, 'hidden_layer_sizes': (10, 20, 25), 'learning_rate': 'adaptive', 'learning_rate_init': 0.01, 'max_iter': 1000, 'solver': 'adam'}, 'score': np.float64(-0.0018988431512947566), 'feature_scaler': StandardScaler(), 'target_scaler': StandardScaler(), 'result_table':       mean_fit_time  std_fit_time  mean_score_time  std_score_time  \
0          0.029747      0.007982         0.000895        0.000464
1          0.027672      0.005793         0.000862        0.000665
2          0.436128      0.089030         0.000040        0.000196